body {
    position: relative;
    font-family: 'Helvetica';
    background: #4071F4;
}

.login-container{
    position: absolute;
    width: 500px;
    height: 490px;
    left: 390px;
    top: 171px;
    line-height: 58.09px;
    background: #FFFFFF;
    border-radius: 15px;
}

.login-header {
    position: absolute;
    width: 287px;
    height: 58px;
    left: 449px;
    top: 180px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #000000;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: none;
}

.username input {
    position: absolute;
    width: 382px;
    height: 50px;
    left: 449px;
    top: 290px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #B4B1B1;
    border: none;
}

.email input {
    position: absolute;
    width: 382px;
    height: 50px;
    left: 449px;
    top: 349px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #B4B1B1;
    border: none;
}

.password input {
    position: absolute;
    width: 382px;
    height: 50px;
    left: 449px;
    top: 416px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #B4B1B1;
    border: none;
}

.confirm-password input {
    position: absolute;
    width: 382px;
    height: 50px;
    left: 449px;
    top: 483px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #B4B1B1;
    border: none;
}

.form-group button {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 515px;
    top: 577px;
    background: #4071F4;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.form-group button:hover {
    background-color: #0056b3;
}