
/* Rectangle 6 */

position: absolute;
width: 823px;
height: 53px;
left: 147px;
top: 239px;

background: #FFFFFF;
border-radius: 15px;





/* Rectangle 7 */

position: absolute;
width: 141px;
height: 53px;
left: 979px;
top: 239px;

background: #FFFFFF;
border-radius: 15px;

/* Weather */

position: absolute;
width: 278px;
height: 127px;
left: 43px;
top: 24px;



/* Rectangle 9 */

position: absolute;
width: 278px;
height: 127px;
left: 43px;
top: 24px;

background: #FFFFFF;
border-radius: 15px;


/* Информация о погоде */

position: absolute;
width: 168px;
height: 18px;
left: 63px;
top: 38px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
text-align: center;

color: #000000;






/* Edit */

position: absolute;
width: 31px;
height: 19px;
left: 962px;
top: 411px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #4071F4;



/* Group 3 */

position: absolute;
width: 111px;
height: 39px;
left: 897px;
top: 401px;



/* Rectangle 12 */

position: absolute;
width: 111px;
height: 39px;
left: 897px;
top: 401px;

background: #75DC86;
border-radius: 10px;


/* Done */

position: absolute;
width: 41px;
height: 19px;
left: 932px;
top: 411px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FEFEFE;



/* Group 4 */

position: absolute;
width: 111px;
height: 39px;
left: 1049px;
top: 401px;



/* Rectangle 11 */

position: absolute;
width: 111px;
height: 39px;
left: 1049px;
top: 401px;

background: #F97B7B;
border-radius: 10px;


/* Delete */

position: absolute;
width: 51px;
height: 19px;
left: 1079px;
top: 411px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;

