body, html {
  font-family: helvetica;
  background: #4071F4;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
}

.header h1 {
  position: absolute;
  width: 323px;
  height: 77px;
  left: 478px;
  top: 96px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: #FFFFFF;
}

.line {
  position: absolute;
  width: 952px;
  height: 0px;
  left: 160px;
  top: 340.5px;
  border: 3px solid #FFFFFF;
  transform: rotate(0.18deg);
}

.notification {
  position: absolute;
  width: 278px;
  height: 127px;
  left: 43px;
  top: 24px;
  background: #FFFFFF;
  border-radius: 15px;
}

.notification h1 {
  position: absolute;
  width: 168px;
  height: 18px;
  left: 53px;
  top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.user-info {
  position: absolute;
  display: flex;
  justify-content: space-between;  
  width: 130px;
  height: 30px;
  left: 979px;
  top: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.user-info button {
  position: absolute;
  width: 88px;
  height: 30px;
  left: 175px;
  background: #FFFFFF;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #4071F4;
  border: none;
}

.task-input {
    display:flex; 
    justify-content:center; 
    align-items:center; 
    margin-top:50px; 
}

.task-input input {
  position: absolute;
  width: 823px;
  height: 53px;
  left: 147px;
  top: 239px;
  background: #FFFFFF;
  border-radius: 15px;
  border: none;
}

.task-input button {
  position: absolute;
  width: 141px;
  height: 53px;
  left: 979px;
  top: 239px;
  background: #FFFFFF;
  border-radius: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #4071F4;
  border: none;
}

.task-list {
  position: relative;
  margin-top: 270px;
  margin-left: 160px;
}

.task {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;  
  color: #FFFFFF;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.done-button,
.delete-button {
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
}

.done-button {
  top: 0px;
  left: 697px;
  width: 111px;
  height: 39px;
  background: #75DC86;
}

.delete-button {
  top: 0px;
  left: 849px;
  width: 111px;
  height: 39px;
  background: #FF6B6B;
}

.task.completed {
  text-decoration: line-through;
}