{% extends "base.html" %}
{% block title %}Main Page{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<img src="{{ url_for('static', filename='logo.png') }}" class="logo1" alt="logo-1">
<body>
    <ul>
        <form class = "login">
            <a href="{{ url_for('login') }}" button type="submit">Log In</button>
        </form>
        <form class = "register">
            <a href="{{ url_for('register') }}" button type="submit">Register</button>
            </form>
    </ul>
</body>
{% endblock %}