{% extends 'base.html' %}

{% block title %}Список дел{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='todo_list.css') }}">
{% endblock %}

{% block content %}
    <header>
        <nav>
            <ul>
                
                {% if 'user_id' in session %}
                    <h1>Hello, {{ username }}</h1>
                    <li><a href="{{ url_for('logout') }}">Выйти</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <ul>
        <h2>to-do list</h2>
        {% for task in tasks %}
            <li class="{% if task.completed %}completed{% endif %}">
                {{ task.task }}
                <form action="{{ url_for('complete_task', task_id=task.id) }}" method="POST">
                    <input type="submit" value="Выполнено">
                </form>
                <form action="{{ url_for('delete_task', task_id=task.id) }}" method="POST">
                    <div class = "rectangle-11"><input type="submit" value="Delete" class = ".delete"></div>
                </form>
            </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('add_task') }}" method="POST">
        <input type="text" name="task" placeholder="Добавить задачу" required>
        <input type="submit" value="Добавить">
    </form>
{% endblock %}
