{% extends 'base.html' %}
{% block title %}To-Do List{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='todo_list.css') }}">
</head>
<body>
<div class="header">
    <div class="notification">
        <h1>{{ weather }}</h1>
    </div>
    <h1>To-Do List</h1>
    <div class="user-info">
        {% if username %}
            Hello, {{ username }}
            <form action="{{ url_for('logout') }}" method="GET">
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>
</div>
<div class="task-input">
    <form action="{{ url_for('add_task') }}" method="POST">
        <input type="text" name="task" placeholder="">
        <button type="submit">Add Task</button>
    </form>
</div>
<hr class ="line">
<div class="task-list">
    {% for task in tasks %}
        <div class="task {% if task.completed %} completed {% endif %}">
            <div class="task-content">
                {{ task.task }}
            </div>
            <div class="task-buttons">
                <form action="{{ url_for('complete_task', task_id=task.id) }}" method="POST">
                    <button type="submit" class="done-button">Done</button>
                </form>
                <form action="{{ url_for('delete_task', task_id=task.id) }}" method="POST">
                    <button type="submit" class="delete-button">Delete</button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
</div>
</body>
</html>
{% endblock %}